<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="ITF-8">
    <title>TasteTracker</title>
</head>
<body>

    <h1>TasteTracker</h1>
    <p>Track and review restaurants you've visited.</p>

    <nav>
    <a href="/">Home</a> |

    {% if logged_in %}
        <a href="/dashboard">Dashboard</a> |
        <a href="/add">Add Review</a> |
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/register">Register</a> |
        <a href="/login">Login</a>
    {% endif %}
</nav>



    <h2>Recent Reviews</h2>

{% for review in reviews %}
    <hr>
    <h3>{{ review.restaurant_name }}</h3>
    <p><strong>Cuisine:</strong> {{ review.cuisine_type }}</p>
    <p><strong>Rating:</strong> {{ review.rating }} / 5</p>
    <p><strong>Review:</strong> {{ review.review_text }}</p>
    <p><em>By {{ review.author.username }}</em></p>
{% endfor %}


</body>
</html>