<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ITF-8">
    <title>TasteTracker</title>
</head>
<body>

    <h1>TasteTracker</h1>
    <p>Track and review restaurants you've visited.</p>

    <nav>
        <a href="/register">Register</a> |
        <a href="/login">Login</a> |
        <a href="/dashboard">Dashboard</a> |
        <a href="/add">Add Review</a>
    </nav>

    <hr>

    <h2>Recent Reviews</h2>

    <!-- Example review 1 -->
    <h3>Mario's Restaurant</h3>
    <p><strong>Cuisine:</strong> Italian</p>
    <p><strong>Rating:</strong> 4 / 5</p>
    <p><strong>Review:</strong> Holy wahoo AND yahoo! Luigi was an awesome host</p>

    <hr>

        <!-- Example review 2 -->
    <h3>Dumpster</h3>
    <p><strong>Cuisine:</strong> Trash</p>
    <p><strong>Rating:</strong> 2 / 5</p>
    <p><strong>Review:</strong> Pretty bad food but i did find a working hair dryer so...</p>

</body>
</html>