<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ITF-8">
    <title>TasteTracker - Login</title>
</head>
<body>

    <h1>Login</h1>
    <p>Login with your email and password.</p>

    <nav>
        <a href="/">Home</a> |
        <a href="/register">Register</a> |
        <a href="/dashboard">Dashboard</a> |
        <a href="/add">Add Review</a>
    </nav>

<form method="post">
        <input name="email" placeholder="enter email" required>
        <input type="password" id="password" name="password" placeholder="enter password">
        <button>Login!</button>
    </form>

</body>
</html>