<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ITF-8">
    <title>TasteTracker - Register</title>
</head>
<body>

    <h1>Register</h1>
    <p>Register with an email and password to make reviews.</p>
    

    <nav>
        <a href="/">Home</a> |
        <a href="/login">Login</a> |
        <a href="/dashboard">Dashboard</a> |
        <a href="/add">Add Review</a>
    </nav>

    <form method="post">
        <input name="email" placeholder="enter email" required>
        <input type="password" id="password" name="password" placeholder="enter password">
        
        <button>Register Account!</button>
    </form>
</body>
</html>